@import url(http://fonts.googleapis.com/css?family=Jura);

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Jura';
    color: #7896AA;
}

html {
	height:100%;
	margin: 0;
 	padding: 0;
}

body {
	margin: 0;
 	padding: 0;
 	height: 100%;
	background-color: #282828;
	background-image:linear-gradient(#434343, #282828);
}

.pure-g {
	padding: 30px;
}

h1 {
	color: #C8FFFA;
}

#dots {
	background-size: 10px 10px;
	background-image:radial-gradient(#64C8FA, transparent 1px);
	height:100%;
	width:100%;
	opacity:.5;
	position:absolute;
	top:0;
	left:0;
	z-index:-4;
}

@media screen and (min-width: 35.5em){
	#dots{background-size: 20px 20px;}
}

@media screen and (min-width: 48em){
	#dots{background-size: 25px 25px;}
}

@media screen and (min-width: 64em){
	#dots{background-size: 30px 30px;}
}

@media screen and (min-width: 80em){
	#dots{background-size: 40px 40px;}
}

.logo:before {
  background:url('logo.svg') no-repeat;
  width: 1.2em;
  height: 1.2em;
  display: block;
  float: left;
  content:'';
}

.frame-horizontal, .frame-vertical, .frame-logo {
	position: relative;
	padding:1px 0;

}

.frame-vertical, .frame-logo > * {
	margin: 7px;
}

.frame-horizontal:before {
    background:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") top left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") top right no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") bottom left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") bottom right no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100%' height='5px'><line x1='0' y1='50%' x2='100%' y2='50%' style='stroke:#41505A;stroke-width:2'/></svg>") top left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100%' height='5px'><line x1='0' y1='50%' x2='100%' y2='50%' style='stroke:#41505A;stroke-width:2'/></svg>") bottom left no-repeat
    ;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.frame-vertical:before {
    background:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") top left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") top right no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") bottom left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") bottom right no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='100%'><line x1='50%' y1='0' x2='50%' y2='100%' style='stroke:#41505A;stroke-width:2'/></svg>") top left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='100%'><line x1='50%' y1='0' x2='50%' y2='100%' style='stroke:#41505A;stroke-width:2'/></svg>") top right no-repeat
    ;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.frame-logo:before {
    background:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") top left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='5px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='30%'/></svg>") top right no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='10px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='15%'/></svg>") bottom left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='10px'><circle fill='#9DC8DC' cx='50%' cy='50%' r='15%'/></svg>") bottom right no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100%' height='5px'><line x1='0' y1='50%' x2='100%' y2='50%' style='stroke:#7896A0;stroke-width:2'/></svg>") top left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100%' height='10px'><line x1='0' y1='50%' x2='100%' y2='50%' style='stroke:#7896A0;stroke-width:1'/><circle fill='#FF6E37' cx='10%' cy='50%' r='3'/><circle fill='#FFFFC8' cx='30%' cy='50%' r='3'/><circle fill='#FFFFC8' cx='50%' cy='50%' r='1'/><circle stroke='#FF6E37' cx='50%' cy='50%' r='4' stroke-width='1' fill='none'/><circle fill='#5FBED2' cx='70%' cy='50%' r='3'/><circle fill='#FFFFC8' cx='90%' cy='50%' r='2'/><circle stroke='#5FBED2' cx='90%' cy='50%' r='4' stroke-width='1' fill='none'/></svg>") bottom left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='100%'><line x1='50%' y1='0' x2='50%' y2='20%' style='stroke:#7896A0;stroke-width:1'/><line x1='50%' y1='80%' x2='50%' y2='100%' style='stroke:#7896A0;stroke-width:1'/></svg>") top left no-repeat,
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='5px' height='100%'><line x1='50%' y1='0' x2='50%' y2='20%' style='stroke:#7896A0;stroke-width:1'/><line x1='50%' y1='80%' x2='50%' y2='100%' style='stroke:#7896A0;stroke-width:1'/></svg>") top right no-repeat
    ;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
